.Goalfield {
    border: 2px solid var(--text);
    width: 280px;
    height: 380px;
    border-radius: 30px;
    flex-direction: column;
    display: flex;
    margin: 135px 35px 35px 35px ;
    cursor: pointer;
    padding: 15px;
}

.GoalfieldDone {
    border: 2px solid gold;
    color: gray;
    width: 280px;
    height: 380px;
    border-radius: 30px;
    flex-direction: column;
    display: flex;
    margin: 135px 35px 35px 35px ;
    cursor: pointer;
    padding: 15px;
}

.GoalWrapper {
    min-height: calc(100vh - 270px);
    align-content: space-around;
    justify-content: center;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .Goalfield {
    margin: 35px 35px 45px 35px ;
}

  .GoalfieldDone {
    margin: 35px 35px 45px 35px ;
}

  .GoalWrapper {
    padding-top: 50px;
  }
}