.Goalfield {
    border: 2px solid var(--text);
    width: 300px;
    height: 400px;
    border-radius: 30px;
    flex-direction: column;
    display: flex;
    margin: 35px;
    cursor: pointer;
    padding: 15px;
}

.GoalfieldDone {
    border: 2px solid gray;
    color: gray;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    flex-direction: column;
    display: flex;
    margin: 35px;
    cursor: pointer;
    padding: 15px;
}

.GoalWrapper {
    min-height: calc(100vh - 300px);
    align-content: space-around;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* themetoggle */

.switch-toggle {
    float: left;
    background-color: #242729;
 }
 .switch-toggle input {
   position: absolute;
   opacity: 0;
 }
 .switch-toggle input + label {
   padding: 7px;
   float:left;
   color: #fff;
   cursor: pointer;
 }
 .switch-toggle input:checked + label {
   background-color: green;
 }