.App {
  background-color: var(--background);
  color: var(--text);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .App {
    padding-top: 50px;
}
}