body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-light: black;
  --background-light: white;
  --toggle-switch-light: #216BA5;
  --toggle-switch-background-light: #e4e4e4;
  --toggle-switchlabel-light: rgba(0, 0, 0, 0.6);

  --text-dark: white;
  --background-dark: #19163d;
  --toggle-switch-dark: #216BA5;
  --toggle-switch-background-dark: rgb(52, 52, 52);
  --toggle-switchlabel-dark: rgba(255, 255, 255, 0.6);
}

@media (prefers-color-scheme: dark) {
 :root {
   --text: var(--text-dark);
   --background: var(--background-dark);
   --toggle-switch: var(--toggle-switch-dark);
   --toggle-switch-background: var(--toggle-switch-background-dark);
   --toggle-switchlabel: var(var(--toggle-switchlabel-dark));
 }
}

@media(prefers-color-scheme: light){
 :root {
   --text: var(--text-light);
   --background: var(--background-light);
   --toggle-switch: var(--toggle-switch-light);
   --toggle-switch-background: var(--toggle-switch-background-light);
   --toggle-switchlabel: var(var(--toggle-switchlabel-light));
 }
}

[color-scheme="dark"]{
 --text: var(--text-dark);
 --background: var(--background-dark);
 --toggle-switch: var(--toggle-switch-dark);
 --toggle-switch-background: var(--toggle-switch-background-dark);
 --toggle-switchlabel: var(var(--toggle-switchlabel-dark));
}

[color-scheme="light"] {
 --text: var(--text-light);
 --background: var(--background-light);
 --toggle-switch: var(--toggle-switch-light);
 --toggle-switch-background: var(--toggle-switch-background-light);
 --toggle-switchlabel: var(var(--toggle-switchlabel-light));
}
